<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>test_xmemcached</display-name>
  <servlet>
  	<servlet-name>TestXMemcachedClientServlet</servlet-name>
  	<servlet-class>com.test.TestXMemcachedClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestXMemcachedClientServlet</servlet-name>
  	<url-pattern>/TestXMemcachedClientServlet</url-pattern>
  </servlet-mapping>
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>